# Archivos de configuración locales
*.pyc
*.sqlite3
*.pyo
*.pyc
__pycache__/

# Carpeta de entorno virtual (si utilizas uno)
venv/

# Carpeta de archivos estáticos compilados
staticfiles/

# Carpeta de archivos temporales
*.log

# Archivos generados por IDEs o editores de texto
.vscode/
.idea/
*.pyc
*.pyo
*.pyc

# Archivos específicos de Docker y Gunicorn
Dockerfile
gunicorn_config.py

# Ignorar archivos de entorno
.env

# Ignorar scripts de python
test_redis_connection.py


# Ignorar archivo de configuración de Fly.io
fly.toml
