/* Footer.css */

/* Estilos para el footer */
.footer {
    position: fixed;
    /* Fija el footer en la parte inferior de la pantalla */
    bottom: 0;
    /* Posiciona el footer en la parte inferior */
    left: 0;
    /* Alinea el footer a la izquierda */
    right: 0;
    /* Alinea el footer a la derecha */
    /* Altura del footer en unidades de viewport height */
    background-color: lightcoral;
    /* Color de fondo */
    display: flex;
    /* Habilita el diseño flexible */
    justify-content: center;
    /* Centra horizontalmente los elementos hijos */
    align-items: center;
    /* Centra verticalmente los elementos hijos */
    width: 100%;
    /* El footer ocupa todo el ancho de la pantalla */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    /* Sombra sutil para separación */
    background-color: #9c27b0;
    height: 20px;

}

.footer-text {
    margin: 0;
    /* Quita los márgenes predeterminados */
    font-size: 14px;
    /* Tamaño de fuente del texto */
    color: white;
    /* Color del texto */
  
}